*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}

/*start of header css*/

header{
	background-color: #e6e6e6;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 50px;
}


header > h3{
	font-size: 30px;
}
header > h1{
	font-size: 90px;
}

/*end of header css*/

/*start of about me css*/

.about-me{
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.about-me > img {
	border-radius: 50%;
	width: 200px;
	height: 200px;
	margin-top: 50px;
}

.about-me > h1{
	font-size: 50px;
}

.about-me > div > p{
	font-size: 20px;
	margin: 40px;
}

/*end of about me css*/


/*start of project css*/

.project{
	height: 100vh;
	text-align: center;
	border-bottom: 1px solid gray;
	
}

.project > img{
	width: 100px;
	height: 100px;
	border: 1px solid black;
}

.project > h2{
	padding: 40px;
}

.project > div > h1{
	font-size: 40px;
}

/*end of project css*/

/*start of skill css*/

.skill{
	height: 50vh;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.skill > div > i{
	font-size: 5rem;
	margin: 3rem 0.5rem;
	opacity: .75rem;
}

.skill > h1{
	font-size: 40px;
	margin-top: 6rem;
}

/*end of skill*/

/*start of contact css*/

.contact{
	text-align: center;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;

}

.box{

	height: 100vh;
	width: 50vw;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;			
	padding: 3rem;
}

.box > form{
	height: 60vh;
	width: 80%
}

form > h4{
	font-size: 50px;
	text-align: center;
	margin: 10px;
}

input{
	display: block;
	margin: 10px auto;
	height: 30px;
	width: 250px;
	font-family: 'Gayathri', sans-serif;
	border-radius: 10px;
	background-color: #e6e6e6
	

}

textarea{
	display: block;
	margin: 10px auto;
	height: 100px;
	width: 250px;
	font-family: 'Gayathri', sans-serif;
	border-radius: 10px;
	background-color: #e6e6e6
}

.btn{
	background-color: black;
	color: white;
	border-style: none;
	padding: 10px 30px;
	border-radius: 20px;
	transition: .4s;
	margin-top: 30px;
	letter-spacing: 3px;
}

/*end of contact css*/

/*media queries for mobile*/
@media only screen and (max-width: 375px){
	header{	
		align-items: center;
		text-align: center;		
		background-position: center;
		background-size: cover;
	}

	header > h1{
	font-size: 60px;
	margin-top: 20px;
	}

	.about-me > div > p{
		text-align: center;
	}

	.box{
		width: 100vw;
		padding: : 10px;
	}

	.project {
		border:none;
	}


	form > h4{
		font-size:35px;	
		margin-bottom:40px;
	}


}

/*media queries for ipad*/
@media only screen and (min-width: 376px) and (max-width: 770px){
	header{	
		align-items: center;
		text-align: center;		
		background-position: center;
		background-size: cover;
	}	

	.about-me > div > p{
		text-align: center;
		font-size: 25px;
	}

	.about-me > img {
		width: 300px;
		height: 300px;
	}

	.about-me{
		border: 1px solid lightgray;
	}

	.project > img{
		width: 200px;
		height: 200px;
		border: 1px solid black;
	}

	.project > div>h1{
		font-size: 60px;
		margin-top: 60px;
	}

	.project > h2{
		font-size: 40px;
	}
	.project {
		border:none;
	}

	.skill > h1{
		margin-top: 15rem;
		font-size: 50px;
	}

	.skill > div > i{
		font-size: 7rem;
		margin: 3rem 0.5rem;
		opacity: .75rem;
	}

	input{
		height: 45px;
		width: 300px;
	}

	textarea{
		height: 150px;
		width: 300px;
}

	.btn{
		padding: 20px 40px;
		border-radius: 30px;
}
	form > h4{
		font-size:35px;	
		margin-bottom:40px;
	}

	.box {
		width: 100vw;
	}

}





